<p style="color: green"><%= notice %></p>

<div class="container mt-3 p-5 rounded bg-dark-subtle
">
    <h1 class="text-body-emphasis"><%= @friend.f_name %> <%= @friend.l_name %></h1>

    <p class=" mx-auto mb-4">
        <%= @friend.email %> |
        <%= @friend.phone %> |
        <%= @friend.twt %>
    </p>

    <%= link_to "Edit this friend", edit_friend_path(@friend),class:"btn btn-secondary px-5 mb-5" %> 
  <%= link_to "Back to friends", friends_path,class:"btn btn-secondary px-5 mb-5" %> 
  <%= button_to "Destroy this friend", @friend, method: :delete ,class:"btn btn-dark px-5 mb-5"%>
</div>
